---
title: Leadbraw
layout: default
root: true
---

<p>
    22. Recent computer science graduate.
</p>
<p>
    Washington, USA. <span class="time" data-timestamp-text="It is currently {time} for me."></span> 
</p>
<p>
    Often a bit of a shut-in, but taking steps to make more real in-person connections. Still figuring out exactly what he wants out of life.
    <br>
    Currently reading <i>The Master and Margarita</i> by Mikhail Bulgakov.
</p>

<nav aria-label="Additional content and socials">
  <a href="{% link _pages/qna.md %}">Q&A</a><hr class="inline-hr">
  <a href="https://github.com/leadbraw" rel="me">GitHub</a><hr class="inline-hr">
  <a href="https://www.discogs.com/user/leadbraw/collection" rel="me">Discogs</a><hr class="inline-hr">
  <a href="https://rateyourmusic.com/~Leadbraw" rel="me">Rate Your Music</a><hr class="inline-hr">
  <a href="https://steamcommunity.com/id/leadbraw/" rel="me">Steam</a><hr class="inline-hr">
  <a href="https://youtube.com/leadbraw" rel="me">YouTube</a>
</nav>

<hr class="hr">

<h2 class="normal-heading">Film photos</h2><a href="/film" class="styled-link">View all</a>
<div class="photos">
{% assign photos = site.data.film | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/film#P{{ photo.id}}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

{% assign note = site.notes | last %}
<h2 class="normal-heading">Notes</h2><a href="/notes" class="styled-link">Recent notes</a> <a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <time class="general-actions monospace">
    {{ note.date | date: "%b %e, %Y" }}
  </time>
  <div class="note-content" lang="{{ note.lang }}">{{ note.content | markdownify }}</div>
  <div class="note-tags">{% for tag in note.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
</div>

<hr class="hr">

<h2 class="normal-heading">Recent posts</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time class="monospace" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %e, %Y" }}</time></li>
{% endfor %}
</ul>
