<!doctype html>
<html lang="en-US">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="icon" href="/assets/favicon_dbdfdf.png" type="image/png" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="/assets/new.css" rel="stylesheet" type="text/css">
    {% if page.collection == "posts" %}
      <link href="/assets/syntax.css" rel="stylesheet" type="text/css">
    {% endif %}
    {% if page.title %}
      <title>{{ page.title }}{% unless page.root %} @ {{ site.title }}{% endunless %}</title>
      <meta content="{{ site.title }}" property="og:site_name">
      <meta content="{{ page.title }}{% unless page.root %} @ {{ site.title }}{% endunless %}" name="twitter:title">
    {% else %}
      <title>{{ site.title }}</title>
      <meta content="{{ site.title }}" property="og:site_name">
      <meta content="{{ site.title }}" name="twitter:title">
    {% endif %}
    {% if page.collection == "posts" or page.collection == "notes" %}
      <meta content="article" property="og:type">
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      <meta content="{{ page.content | strip_html | truncate: 240 }}" name="description">
      <meta content="{{ page.content | strip_html | truncate: 240 }}" name="og:description">
      <meta content="{{ page.date | date_to_xmlschema }}" name="og:published_time">
    {% else %}
      <meta content="summary" name="twitter:card">
      <meta property="og:image:width" content="200">
      <meta property="og:image:height" content="200">
      <meta content="{{ site.description }}" name="description">
      <meta content="website" property="og:type">
    {% endif %}
  </head>
  
  <body class="{% if page.root != true %}post-body{% endif %} col-{{ page.collection }}" data-page-type="{{ page.type }}">
    <header>
    <div class="logo-container">
      {% if page.root != true %}
      <div style="margin-right: 0.75rem;">
        <a href="/{% if page.collection == "notes" %}notes{% endif %}" aria-label="Home" class="back-link">&leftarrow;</a>
      </div>
      {% endif %}
      {% if page.root != true %}
        <span class="font">Leadbraw</span>
      {% endif %}
      </div>
      <h1 class="h1">
        <span lang="{{lang}}">{{ page.title }}</span>
      </h1>
      {% if page.root == true %}
        <div class="desc" lang="en" data-status-loading hidden><span data-status-text></span> <time class="status-time monospace" data-status-datetime></time></div>
      {% endif %}
      {% if page.collection == "posts" %}<time class="monospace" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %e, %Y" }}</time>{% endif %}
      {% if page.collection == "notes" %}<time class="monospace" datetime="{{ page.date }}">{{ page.date | date: "%Y/%m/%d %H:%M" }}</time>{% endif %}
      <div class="desc">{{ page.header_content }}</div>
    </header>
    <main>
      {% capture content_and_then_some do %}
        {% if page.type == "photos" %}
          <input type="radio" name="layout" value="y-scroll" id="y-scroll" checked>
          <label for="y-scroll">
            <svg width="15" height="15" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><title>vertical scroll</title><path d="M55 0a5 5 0 0 1 5 5v31a5 5 0 0 1-5 5H5a5 5 0 0 1-5-5V5a5 5 0 0 1 5-5h50ZM55 47a5 5 0 0 1 5 5v8H0v-8a5 5 0 0 1 5-5h50Z" fill="#D9D9D9"/></svg>
          </label>
          <input type="radio" name="layout" value="x-scroll" id="x-scroll">
          <label for="x-scroll">
            <svg width="15" height="15" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><title>horizontal scroll</title><path d="M0 5a5 5 0 0 1 5-5h30a5 5 0 0 1 5 5v50a5 5 0 0 1-5 5H5a5 5 0 0 1-5-5V5ZM47 5a5 5 0 0 1 5-5h8v60h-8a5 5 0 0 1-5-5V5Z" fill="#D9D9D9"/></svg>
          </label>
          <input type="radio" name="layout" value="grid2fr" id="grid2fr">
          <label for="grid2fr">
            <svg width="15" height="15" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><title>grid 2 columns</title><path d="M0 37c0-2 2-4 4-4h19c2 0 4 2 4 4v19c0 2-2 4-4 4H4c-2 0-4-2-4-4V37zM0 4c0-2 2-4 4-4h19c2 0 4 2 4 4v19c0 2-2 4-4 4H4c-2 0-4-2-4-4V4zM33 37c0-2 2-4 4-4h19c2 0 4 2 4 4v19c0 2-2 4-4 4H37c-2 0-4-2-4-4V37zM33 4c0-2 2-4 4-4h19c2 0 4 2 4 4v19c0 2-2 4-4 4H37c-2 0-4-2-4-4V4z" fill="#D9D9D9"/></svg>
          </label>
          </label>
          <input type="radio" name="layout" value="grid3fr" id="grid3fr">
          <label for="grid3fr">
            <svg width="15" height="15" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><title>grid 3 columns</title><path d="M22 4c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4h-8c-2 0-4-2-4-4V4zM0 26c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4H4c-2 0-4-2-4-4v-8zM22 26c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4h-8c-2 0-4-2-4-4v-8zM0 48c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4H4c-2 0-4-2-4-4v-8zM44 26c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4h-8c-2 0-4-2-4-4v-8zM22 48c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4h-8c-2 0-4-2-4-4v-8zM44 48c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4h-8c-2 0-4-2-4-4v-8zM0 4c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4H4c-2 0-4-2-4-4V4zM44 4c0-2 2-4 4-4h8c2 0 4 2 4 4v8c0 2-2 4-4 4h-8c-2 0-4-2-4-4V4z" fill="#D9D9D9"/></svg>
          </label>
        {% endif %}
        {{ content }}
      {% endcapture %}

      {% if page.collection == "posts" or page.collection == "pages" %}
        <article>
          {{ content_and_then_some }}
        </article>
      {% elsif page.collection == "notes" %}
        <div class="note-content" lang="{{ page.lang }}">{{ content_and_then_some }}</div>
        <div class="note-tags">{% for tag in page.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
      {% else %}
        {{ content_and_then_some }}
      {% endif %}
    </main>
    <footer>
      <hr class="hr">
      <nav class="monospace" aria-label="About this site">
        <p>Site design by <a href="https://muan.co">Mu-An Chiou</a></p>
      </nav>
    </footer>
    
    <script type="module" src="/assets/site.js"></script>
    {% if page.root %}
    <script type="module" src="/assets/root.js"></script>
    {% endif %}
    {% if page.type == "photos" %}
      <script>
        const photos = document.querySelector('#photos')
        const xScroll = document.querySelector('#x-scroll')

        // move scroll area into viewport and user focus
        document.addEventListener('change', function(event) {
          if (xScroll.checked) {
            photos.scrollIntoView()
            photos.setAttribute('tabindex', '-1')
            photos.focus()

            photos.addEventListener('blur', function() {
              photos.blur()
            }, {once: true})
          }
        })

        // return focus
        document.addEventListener('keydown', function(event) {
          if (event.key === 'Escape' && xScroll.checked && photos.contains(event.target)) {
            xScroll.focus()
            window.scrollTo(0, 0)
          }
        })
      </script>
    {% endif %}
  </body>
</html>
